.navbar {
	border-radius:0;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2;
	background:url('dark_wood.png');
}


.navbar-inverse a.nabar-brand {
	font-family: "Helvetica Neue", Helvetica
	font-weight: 100;
	color:white;
}